#alingIngredients {
  display: flex;
  flex-direction: row;
}
#containerIngredients {
  display: grid;
  grid-gap: 10px;
  grid-template-areas:
    "sidenav advert"
    "sidenav footer";
  width: 100%;
  height: 650px;
}

#containerIngredients .list {
  background: #f88;
  width: 100%;
}

#containerIngredients .list .title {
  border: 1px solid #2c3952;
  background: #2c3952;
  color: #fff;
}

.sidenav {
  grid-area: sidenav;
  border-radius: 5px;
}

.advert {
  grid-area: advert;
  border-radius: 5px;
}

.footer {
  grid-area: footer;
  border-radius: 5px;
}
.ingredient-list {
  list-style-type: none;
  overflow: auto;
}
#containerIngredients .list .ingredient-list li {
  display: grid;
  grid-template-columns: 5fr 1fr 1fr;
  padding: 2px;
}

#containerIngredients .list .ingredient-list li button {
  width: 20px;
  height: 20px;
  background: none;
  border: none;
}
#containerIngredients .list .ingredient-list li button.direction:focus {
  background: #4fba6f;
  border-radius: 5px;
}
#containerIngredients .list .ingredient-list li button.destroy:focus {
  background: #f00;
  border-radius: 5px;
}
#containerIngredients .list form fieldset {
  background: #fff;
}
#containerIngredients .list form fieldset input {
  border: none;
  width: 100%;
}
