#containerDish {
  display: flex;
  flex-direction: row;
}
input[type="range"] {
  height: 38px;
  -webkit-appearance: none;
  margin: 10px 0;
  background-color: #3c4556;
  width: 76px;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 30px;
  cursor: pointer;

  box-shadow: 0px 0px 0px #000000;
  background: #b6b6b6;
  border-radius: 5px;
  border: 1px solid #8a8a8a;
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #828282;
  border: 1px solid #8a8a8a;
  height: 30px;
  width: 35px;
  border-radius: 5px;
  background: #dadada;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -1px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #b6b6b6;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 30px;
  cursor: pointer;

  box-shadow: 0px 0px 0px #000000;
  background: #b6b6b6;
  border-radius: 5px;
  border: 1px solid #8a8a8a;
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #828282;
  border: 1px solid #8a8a8a;
  height: 30px;
  width: 35px;
  border-radius: 5px;
  background: #dadada;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 30px;
  cursor: pointer;

  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: #b6b6b6;
  border: 1px solid #8a8a8a;
  border-radius: 10px;
  box-shadow: 0px 0px 0px #000000;
}
input[type="range"]::-ms-fill-upper {
  background: #b6b6b6;
  border: 1px solid #8a8a8a;
  border-radius: 10px;
  box-shadow: 0px 0px 0px #000000;
}
input[type="range"]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 1px #828282;
  border: 1px solid #8a8a8a;
  height: 30px;
  width: 35px;
  border-radius: 5px;
  background: #dadada;
  cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #b6b6b6;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #b6b6b6;
}
#containerDish span {
  padding: 5px;
  font-size: 30pt;
}
.frist {
  display: flex;
  align-items: baseline;
}
.second form fieldset {
  margin: 10px;
  background: #fff;
  border-radius: 5px;
}
.second form fieldset input {
  width: 100%;
  border: none;
  border-radius: 5px;
}

.second form fieldset button {
  width: 20px;
  height: 20px;
  border: none;
  background: none;
}
.second form fieldset select {
  width: 92%;
  border: none;
  background: none;
  font-size: 16pt;
}
#listIngredient {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
#listIngredient section {
  display: flex;
  align-items: baseline;
}
#listIngredient input {
  margin-right: 10px;
  height: 20px;
  width: 20px;
}
@media (max-width: 850px) {
  #listIngredient {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 700px) {
  #listIngredient {
    grid-template-columns: repeat(3, 1fr);
  }
}
