#containerProfile {
  display: flex;
  flex-direction: row;
}

#panel {
  width: 100%;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#frist header {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background-size: cover;
}
#frist .open {
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  background: tomato;
  border: none;
  cursor: pointer;
}
